*{
	margin: 0;
	padding: 0;
}

.nav_frame{
	height: 60px;
	margin: auto;
	background-color: #000;
}

.nav {
	width: 1200px;height: 60px;
	margin: auto;
}

.text {
	padding-left: 260px;
}
.text ul li{
	float: left;list-style: none;
	padding-left: 50px;
	font-family: "微软雅黑";
}
.text ul li a{
	text-decoration:none;
	float: left;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	color: #fff;
}
.text ul li a:hover{
	color: #edd300;
	}
.text ul li p{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
	line-height: 60px;
}
.banner{
	background-image:url(../img/banner.jpg) ;
    height: 430px;
	width: 100%;
	background-position:center;
}
.wechat{
	float:right;
	padding-top: 19px;
	padding-right: 350px;
}
.wechat:hover{
	background-image: url(../img/Q.jpg);
	height: 130px;
	width: 130px;
	background-repeat: no-repeat;
}
.logo{
	height: 22px;
	width:114px;
	line-height: 70px;
	float:left;
	padding-left: 40px;
}
.bg{
	width: 1920px;
	height: 590px;
	margin: auto;
	background-image: url(../img/background.jpg);
	height:590px;
	width:100%;
	background-position:center;
}

.ziti{
	margin-top: -25px;
}

.ziti p{
	font-size: 14px;
	color:#e4e4e4 ;
	font-family: helvetica;
	text-align: center;
}

.p {

}
